# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/


/transformations_milan
/transformations/__pycache__
/transformations/api-key



arduino_backpack/WiFiWebClient_edited/arduino_secrets.h
/arduino_backpack/WiFiWebClient_edited/arduino_secrets.h


